@charset "utf-8";
@import url(./reset.css);

:root {
    --primary-dark: #202124;
    --secondary-dark-color: #ffffff0d;
    --light-color: #fafafa;
    --primary-blue: #09f;
    --secondary-blue: rgb(0, 119, 198);
    --primary-green: #9f0;
    --primary-red: rgb(255, 0, 93);
    --primary-orange: #f90;
    --primary-purple: #90f;
}

body {
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: var(--light-color);
}

main {
    min-height: 100dvh;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

section {
    margin-top: 60px;
}

.account-nav {

} 

/* Header */

header {
    background-color: #fff;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 60px;
}

#account-nav img {
    width: 50px;
    border-radius: 50%;
    width: 42px;
}

li {
    display: inline-block;
}

li + li {
    margin-left: 20px;
}

.left-header, .right-header {
    width: 175px;
    display: flex;
}

.left-header {
    justify-content: flex-start;
}

.right-header {
    justify-content: flex-end;
}

/* Post message */

textarea {
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    resize: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border-radius: 6px;
}

.textarea-wrapper {
    position: relative;
}

.textarea-wrapper .primary-button {
    position: absolute;
    bottom: 0;
    right: 25%;
}

.primary-button {
    background-color: var(--primary-blue);
    color: var(--light-color);
    width: 100px;
    transition: all 0.5s ease;
}

.primary-button:hover {
    background-color: var(--secondary-blue);
}

input {
    background-color: var(--secondary-dark-color);
    color: var(--light-color);
    padding: 7px 15px;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 42px;
}


/* Modal */

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    top: 20%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
  }

  .modal {
    z-index: 2;
  }
  
  .modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .modal input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
  }
  
  .modal p {
    font-size: 0.9rem;
    color: #777;
    margin: 0.4rem 0 0.2rem;
  }


  .modal-open {
    position: absolute;
    bottom: 150px;
  }
  
  .modal-close {
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }

  .hidden {
    display: none;
  }